In [2]:
#  IMPORTING LIBRARIES
import datetime as dt
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

## Import Data

In [3]:
#  Example import, needs to be updated accordingly...
df = pd.read_csv("LSTM_results.csv")

In [4]:
df

       DateTime  Forecast    Actual
0    2018-05-22  0.304455  0.296319
1    2018-05-23  0.307197  0.299195
2    2018-05-24  0.302512  0.282542
3    2018-05-25  0.298367  0.291667
4    2018-05-27  0.286308  0.277665
..          ...       ...       ...
498  2019-12-24  0.146068  0.158172
499  2019-12-25  0.144745  0.159700
500  2019-12-26  0.143556  0.175454
501  2019-12-27  0.143979  0.177701
502  2019-12-29  0.153920  0.182196

[503 rows x 3 columns]

In [9]:
def calc_momentum(_df, _momentum):
    _df['F_momentum'] = _df['Forecast'] - _df['Forecast'].shift(_momentum)
    _df['A_momentum'] = _df['Actual'] - _df['Actual'].shift(_momentum)
    return _df

In [10]:
df_test = calc_momentum(df, 2)

In [11]:
df_test

       DateTime  Forecast    Actual  F_momentum  A_momentum
0    2018-05-22  0.304455  0.296319         NaN         NaN
1    2018-05-23  0.307197  0.299195         NaN         NaN
2    2018-05-24  0.302512  0.282542   -0.001943   -0.013777
3    2018-05-25  0.298367  0.291667   -0.008829   -0.007529
4    2018-05-27  0.286308  0.277665   -0.016204   -0.004877
..          ...       ...       ...         ...         ...
498  2019-12-24  0.146068  0.158172   -0.002937    0.000607
499  2019-12-25  0.144745  0.159700   -0.002100    0.003124
500  2019-12-26  0.143556  0.175454   -0.002512    0.017282
501  2019-12-27  0.143979  0.177701   -0.000766    0.018002
502  2019-12-29  0.153920  0.182196    0.010364    0.006742

[503 rows x 5 columns]